
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* font-family: 'VT323', monospace; */
/* font-family: 'Nabla', system-ui; */

#map{            
    height: 100vh;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0;
  }

  .element.style {
    width: 100px;
  }

  .pin-marker{
    height: 35px;
  }

  .sidebar{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1003;
    height: auto;
    width: 100vw;
    justify-content: space-around;
  }

  .sidebar2{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1000;
    height: 100%;
    width: auto;
  }

  .viewBtnContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: auto;
    align-items: center;
    padding: 25px;
    z-index: 1000;
   
  }

  .filter {
    width: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 25px;
    z-index: 1000;
    gap: 10px; 
    align-items: stretch;
  }

  .sidebarBtn{
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-color: rgba(192, 192, 192, 0.38);
    border-style: solid;
    padding: 10px 25px;
    background-color: rgb(0, 0, 0);
    font-family: 'VT323', monospace;
  }

  .sidebarBtn:hover{
      cursor: pointer;
      background-color: #a545ff5a;
  }

  #sidebar button.active {
    background-color: rgba(192, 192, 192, 0.38);
    color: white;
  }



  #map {
    display: flex;
    height: 100vh;
  }

  #overlay {
    color: rgb(0, 0, 0);
    font-family: 'VT323', monospace;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -100%; /* Start outside of the screen */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal position */
    width: 50%; /* Set width */
    max-width: 600px; /* Maximum width */
    height: auto;
    background-color: #a545ff;
    overflow-y: auto;
    transition: top 0.6s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 40px;
    z-index: 1000;

  }
  

  #overlay-close {
    cursor: pointer;
    float: right;
    font-size: 20px;
    align-self: flex-end;
    border:solid black;
    padding-left: 15px ;
    padding-right:15px ;
    border-radius: 30px;
    background-color: black;
    color: #a545ff;
  }

  .name{
    font-size: 30px;
  }

  .work, .home{
    font-size: 30px;
  }

  #linkbtn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

  .sidebarBtn.active {
    background-color:#a545ffc3;
  }


  #resetBtn{
    background-color: #9e37ff4e;
    font-family: 'VT323', monospace;
  }

  .leaflet-control-container{
    display:none;
  }

  .BtnContainerText{
    color: white;
 }

 .address
{
  font-size: 30px;
}


.photo-overlay {
  font-family: 'VT323', monospace;
  position: fixed;
  top: 0;
  right: -100%; /* Start hidden to the right */
  height: 100%;
  width: 100%;
  max-width: 700px; /* Adjust based on your preference */
  background-color: #a545ff;
  overflow-y: auto;
  transition: right 0.5s ease;
  z-index: 2000; /* Ensure it's above other content */
}

.photo-overlay-content {
  padding: 20px;
}

.close-photo-overlay {
  cursor: pointer;
  float: right;
  font-size: 15px;
  align-self: flex-end;
  padding-left: 15px ;
  padding-right:15px ;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  color: #a545ff;
  position: sticky;
  margin-bottom: 20px;
}

.photo-gallery img {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  filter: grayscale(100%);

}

.photo-description {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

.sidebarBtn .imgs{
  align-self: flex-end;
}



#audioPlayer button {
  position: sticky;
  background-color: transparent;
  border:none;
  cursor: pointer;
  height: 40px;
  width: 160px;
}

#audioPlayer button:hover {
  cursor:pointer;
}



#prevTrackBtn, #playPauseBtn, #nextTrackBtn{
  color: black;
}

.musicbtn{
  width: 100%;
}


.mp3player{
  position: fixed;
  z-index: 4000;
  bottom:  80px; /* Keep the top positioning as is */
  left: 50%; /* Center relative to the viewport */
  transform: translateX(-50%); /* Shift it back by half its width */
  width: auto; 
  z-index: 5000;
  color: rgb(255, 255, 255);
  font-size: 24px;
  background: rgba(53, 53, 53, 0.451);
  font-family: 'VT323', monospace;
  padding: 20px;
  border-radius: 30px;
  transition: background-color 0.00 1s ease; /* Smooth transition between colors */

}

.mp3text{
  display: flex;
justify-content: center;  
padding-bottom: 20px ;

}

