
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* font-family: 'VT323', monospace; */
/* font-family: 'Nabla', system-ui; */
body{
  font-family: 'VT323', monospace;
  font-weight: 100;

}

#map{            
    width: 100vw;
}

body {
    margin: 0px;
    padding: 0;
  }

  .element.style {
    width: 100px;
  }

  .pin-marker{
    height: 35px;
  }

  .sidebar{
    position: fixed;
    z-index: 1003;
    height: fit-content;
    width: 100vw;
  }

  .sidebar2{
    position: fixed;
    display: flex;
    top: 50%;
    left: 99%;
    transform: translateX(-50%);
    z-index: 1000;
    height: fit-content;
  }

  .viewBtnContainer {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    z-index: 1000;
    flex-direction: row;
   
  }

  .filter {
    width: auto;
    display: flex;
    flex-direction:column;
    z-index: 1000;
    align-items: stretch;
  }

  .sidebarBtn{
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-color: rgba(192, 192, 192, 0.38);
    border-style: solid;
    padding: 10px 25px;
    background-color: rgb(0, 0, 0);
    font-family: 'VT323', monospace;
  }

  .sidebarBtn:hover{
      cursor: pointer;
      background-color: #a545ff5a;
  }

  #sidebar button.active {
    background-color: rgba(192, 192, 192, 0.38);
    color: white;
  }


  #map {
    display: flex;
    height: 100vh;
  }

  #overlay {
    color: rgb(0, 0, 0);
    font-family: 'VT323', monospace;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -100%; /* Start outside of the screen */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal position */
    width: 50%; /* Set width */
    max-width: 600px; /* Maximum width */
    height: auto;
    background-color: #a545ff;
    overflow-y: auto;
    transition: top 0.6s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 40px;
    z-index: 1000;
  }
  
  #overlay-close {
    cursor: pointer;
    float: right;
    font-size: 20px;
    align-self: flex-end;
    border:solid black;
    padding-left: 15px ;
    padding-right:15px ;
    border-radius: 30px;
    background-color: black;
    color: #a545ff;
  }

  .name{
    font-size: 30px;
  }

  .work, .home{
    font-size: 30px;
  }

  #linkbtn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

  .sidebarBtn.active {
    background-color:#a545ffc3;
  }


  #resetBtn{
    background-color: #9e37ff4e;
    font-family: 'VT323', monospace;
  }

  .leaflet-control-container{
    display:none;
  }

  .BtnContainerText{
    color: white;
 }

 .address
{
  font-size: 30px;
  text-align: center;
}


.photo-overlay {
  font-family: 'VT323', monospace;
  position: fixed;
  right: -100%; /* Start hidden to the right */
  height: 100%;
  width: 100vw;
  max-width: 500px; /* Adjust based on your preference */
  background-color: #a545ffe4;
  overflow-y: auto;
  transition: right 0.5s ease;
  z-index: 2000; /* Ensure it's above other content */
  top: 0;
  }

.photo-overlay-content {
  padding: 1vw;
}

.close-photo-overlay {
  cursor: pointer;
  float: right;
  font-size: 1.2vw;
  align-self: flex-end;
  padding: 7px 12px ;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  color: #a545ff;
  position: sticky;
  margin-bottom: 1vw;
}

.photo-gallery img {
  width: 100%;
  filter: grayscale(100%);

}

.photo-description {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

.sidebarBtn .imgs{
  align-self: flex-end;
}


.mp3player{
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 1vh ; 
  left: 50%; 
  transform: translateX(-50%);
  width: fit-content; 
  height: fit-content;
  z-index: 5000;
  color: rgb(255, 255, 255);
  font-size: 20px;
  background: rgba(53, 53, 53, 0.451);
  font-family: 'VT323', monospace;
  padding: 1.5vw;
  margin: 1vw;
  gap: 1vw;
  filter: drop-shadow(0 0 0.45rem #a545ff);

}

#audioPlayer button {
  background-color: transparent;
  border:none;
  cursor: pointer;
  width: 100px;
}


#audioPlayer button:hover {
  cursor:pointer;
}

.mp3text{
  display: flex;
  justify-content: center;
}



.imgbtn{
  font-size: 20px;
  color: rgb(238, 31, 31);
  border-color: rgba(192, 192, 192, 0.38);
  border-style: solid;
  padding: 3vw 1vw;
  background-color: rgb(0, 0, 0);
  font-family: 'VT323', monospace;
  cursor:w-resize;
}


.about-btn {
  position: fixed;
  z-index: 6001; /* Adjust based on your layout */
  padding: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.about-overlay {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px; /* Adjust the width as needed */
  background-color: white;
  color: black;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1001; /* Ensure it appears above other content */
  display: none; /* Start hidden */
}

.close-about-overlay {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 26px;
  background: none;
  border: none;
  color: black;
}

.about-content {
  margin-top: 20px;
  font-size: 1.2vw;
}

/* Optionally, add a background overlay to dim the content behind the modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000; /* Below the modal but above other content */
  display: none; /* Start hidden */
}
